
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <!--Card Header-->
            <div class="card-header">
                <p>


                    <span class="float-left">

                        <span class="today">Create Task</span>


                    </span>
                </p>

            </div>
            <!--Card Body-->
            <div class="card-body">
                <div class="row">
                 
                   

                    <button data-toggle="collapse" href="#collapseCreatingTask" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-light"><i class="fa-solid fa-grip"></i> Create Task</button>

                </div>
                <div class="collapse" id="collapseCreatingTask">
                    <br />
                    <form method="post">
                        <input name="Username" value="@User.Identity.Name" hidden />
                        <input name="TaskProcess" value="Created" hidden />
                        <input name="TaskStatus" value="True" hidden />

                        <div class="form-group">
                            <label>Task Name</label>
                            <input type="text" name="TaskName" placeholder="Task Name..." class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Task Description</label>
                            <textarea name="TaskDesc" id="summernote"  autofocus="autofocus" required>

                                </textarea>
                        </div>
                        <div class="form-group">
                            <label>Hour</label>
                            <input type="number" name="ScheduledHour" placeholder="Hour..." class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Minutes</label>
                            <input type="number" name="ScheduledMin" placeholder="Minutes..." class="form-control" required />
                        </div>

                        <button class="btn btn-light" type="submit">
                            <i class="fa-solid fa-file-signature"></i> Save and Start
                        </button>
                    </form>


                </div>
            </div>


        </div>
    </div>
    <div class="col-lg-5">

        <!--Card-->
        <div class="card">
            <!--Card Header-->
            <div class="card-header">
                <p>
                    <button data-toggle="collapse" href="#collapseFiltering" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-light"> <i class="fa-solid fa-filter"></i> Filtering Options </button>
                </p>
                <div class="collapse" id="collapseFiltering">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <select class="form-control">
                            <option>Sort by latest</option>
                            <option>Show only completed tasks</option>
                            <option>Show only processing tasks</option>
                            <option>Show only trashed tasks</option>
                            <option>Sort by task duration ascending</option>
                            <option>
                                Sort by task duration
                                descdending
                            </option>
                        </select>
                    </div>
                    <br />
                    <button class="btn btn-light"><i class="fa fa-check"></i> Apply</button>
                </div>


            </div>
            <!--Card Body-->
            <div class="card-body">
                <p class="heading1">
                    <span class="today">Completed Tasks</span>
                    <span class="float-right headingright">7h 15min</span>

                </p>
            
                    <p>
                        <i style="font-size:20px;color:#153063;" class="fa-solid fa-thumbtack md-2"></i>

                        <span style="font-size:22px;" class="task mt-4"> Take kids to school</span>
                        <br />
                        <span style="font-size:14px;" class="task mt-4">Task Description : It's a task</span>
                        <br />
                        <span style="font-size:14px;" class="task mt-4">Task Duration : 47 min </span>
                        <br />
                        <span style="font-size:14px;" class="task mt-4">Completed Time : 47 min </span>


                    </p>
                    <button class="btn btn-light"><i class="fa fa-pen"></i> Edit</button>
                    <button class="btn btn-light"><i class="fa fa-play"></i> Continue</button>
                    <button class="btn btn-light"><i class="fa fa-trash"></i> Trash</button>
               






            </div>
        </div>
    </div>

</div>


<style>
    .form-control:focus {
        border-color: #153063;
        box-shadow: inset 0 1px 1px #153063, 0 0 8px #153063;
    }

    .btn-light {
        background-color: #d3d9dd;
    }

    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 150px;
        border: 6px dotted;
        border-radius: 50%;
    }

    .note-editable {
        background-color: white;
    }
</style>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>
    $(document).ready(function () {
        setInterval(function () {
            currentTime = getDateTime();
            document.getElementById("digital-clock").innerHTML = currentTime;
        }, 1000);
    });
    function getDateTime() {
        var now = new Date();


        var hour = now.getHours();
        var minute = now.getMinutes();
        var second = now.getSeconds();

        if (hour.toString().length == 1) {
            hour = '0' + hour;
        }
        if (minute.toString().length == 1) {
            minute = '0' + minute;
        }
        if (second.toString().length == 1) {
            second = '0' + second;
        }
        var dateTime = hour + ':' + minute + ':' + second;
        return dateTime;
    };
    $('#summernote').summernote({
        tabsize: 1,
        height: 175,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
    

</script>





