
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card">
                <div class="card-body">
                    <div class="app-brand justify-content-center">
                        <a class="navbar-brand">Time Sheet Management</a>

                    </div>



                    @if (ViewBag.Response != null)
                    {
                        <strong>Nofitication ! - </strong> @ViewBag.Response
                        <hr />
                    }


                    <form id="formAuthentication" class="mb-3" method="post" action="/Authentication/Login/">
                        <div class="mb-3 card-title">

                            <h3 style="color:#1f2829;">Login Page </h3>


                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Username </label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   name="username"
                                   placeholder="Username...."
                                   autofocus required />
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Password</label>

                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password"
                                       id="password"
                                       class="form-control"
                                       name="password"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" required />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" style="background-color: #1f2829; border-color: #1f2829;" type="submit">Login</button>
                        </div>

                        <div class="text-center">
                            <a style="color: #1f2829; font-weight: bold;">Don't have account ?</a>
                        </div>


                    </form>
                    <a asp-action="SignUp" asp-controller="Authentication" class="btn btn-primary d-grid w-100 text-white" style="background-color: #1f2829; border-color: #1f2829; ">Create Account</a>

                </div>
            </div>

        </div>
    </div>
</div>

